<div class="container-fluid py-2 bg-blue">
  <div class="row">
    <div class="col-4 my-auto">
      <img src="assets/svg/ehealth-white.svg" class="w-10 ml-5 ">
    </div>
    <div class="col-4 text-center my-auto">
        <i [routerLink]="[ 'patients']" routerLinkActive="active" class="fas fa-user-injured icon p-3"></i>
        <i [routerLink]="[ 'overview']" routerLinkActive="active"class="fas fa-home icon p-3"></i>
    </div>
    <div class="col-4 my-auto">
      <div class="ml-auto mr-3 photo-profile"><img class="photo" src="assets/photo/doc.png"> </div>
    </div>
  </div>
</div>













<router-outlet></router-outlet>
